<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
 <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
  <ion-col size="12">
   <h5 style="text-align: center;">Login your Account !!</h5>
  </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
       <h5>Email</h5>
      <ion-input type="text" placeholder="user@gmail.com" class="box input-field"></ion-input>
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
       <h5>Password</h5>
      <ion-input type="number" placeholder="Password" class="box input-field"></ion-input>
       </ion-col>
    </ion-row>
      <br><br>
    <ion-row>
      <ion-col size="12">
      <ion-button expand="block">Login</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
